<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="TCK_Blog::blog_content" title="Noticias" sortOrder="10" >
                        <resource id="TCK_Blog::post" title="Entradas" sortOrder="40">
                            <resource id="TCK_Blog::save" title="Guardar entrada" sortOrder="10" />
                            <resource id="TCK_Blog::post_delete" title="Eliminar entrada" sortOrder="20" />
                        </resource>
                    </resource>
                    <resource id="TCK_Blog::category" sortOrder="20" title="Categorias">
<!--                        <resource id="TCK_Blog::Category_save" sortOrder="10" title="Guardar Categoria"/>
                        <resource id="TCK_Blog::Category_delete" sortOrder="20" title="Eliminar Categoria"/>
                        <resource id="TCK_Blog::Category_update" sortOrder="30" title="Editar Categoria"/>
                        <resource id="TCK_Blog::Category_view" sortOrder="40" title="Ver Categoria"/>-->
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>